@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@inject UserManager<Users> UserManager
@model OLX.ViewModels.PostsWithComments


@{
    var user = await UserManager.GetUserAsync(User);

    @foreach (var post in Model.Posts)
    {
        <div class="fajna">
            <p class="dk">Dodano @post.PostedDate</p>
            <p class="dk">Przez @post.UserName</p>
            <h2>@post.Title - @if (post.Aktualne == true) {<green>Aktualne</green>} else {<red>Nieaktualne</red>}</h2>
            <div class="left_right">
                <div class="rightist">
                    @if (post.Picture != null && post.Picture.Length > 0)
                    {
                        var img = "data:image/png;base64," + Convert.ToBase64String(post.Picture);
                        <div class="align-items-center leftist2"><img src="@img" width="100%" height="600px" /></div>
                        <br />
                    }
                </div>
                <b><hh>@post.Price zł</hh></b>
                <div class="leftist">
                    <h3>Informacje</h3>
                    <hr />
                    <a class="dk">Opis:</a>
                    <a>@post.Description</a> <br />
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@post.Id">Szczegóły</a> <br />

                    @{bool exists = false;}
                    @foreach (var k in Model.Kosz)
                    {
                        if (k.PostId == post.Id && k.UserId == user.Id)
                        {
                            exists = true;
                        }
                    }
                            
                    @if (!exists && post.Aktualne && user.Id != post.UserId)
                    {
                        <form asp-action="KoszForm" method="post">
                            <input type="hidden" name="Id" />
                            <input type="hidden" name="PostId" value="@(post.Id)" />
                            <input type="hidden" name="UserId" value="@(user.Id)" />
                            <input class="btn btn-secondary" type="submit" value="Dodaj do kosza!" />
                        </form>
                    }
                    else
                    {
                        @if (!post.Aktualne)
                        {
                            <b class="dk">Spóźniłeś się! post jest już nie aktualny! ha. ha. ha</b>
                        } else if (exists)
                        {
                            <b class="dk">Ten przedmiot jest już w Twoim koszu!</b>
                        } else
                        {
                            @if (!User.IsInRole("Admin"))
                            {
                                <a asp-controller="Home" asp-action="UserPanel">Zarządzaj</a> <br />
                                <b class="dk">To twój post głuptasku!</b>
                            }
                        }

                    }
                    <br /> 
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete2" asp-route-id="@post.Id">Delete</a>
                    }
                    <br/>
                </div>
                <div class="leftist">
                <h3>Komentarze</h3>

                <br />
                <form asp-action="CommentForm" method="post">
                    <input type="hidden" name="Post" value="@post.Id" />
                    <input name="UserId" type="hidden" />
                    <input name="UserName" type="hidden" />
                    <input type="text" class="poled" name="Text" placeholder="Twój komentarz" required />
                </form>
                <button name="bubba" id="skibidy" class="btn btn-secondary" style=" font-size: 10px" >Pokaż Komentarze</button>
                <div id="comment_container" style="text-align: left;" hidden="true">
                    @foreach (var comment in Model.Comments)
                    {
                        if (comment.Post == post.Id)
                        {
                            <div>
                                <b>@comment.UserName:</b> @comment.Text
                                <p class="dk">
                                    @if(comment.UserId == user.Id || User.IsInRole("Admin"))
                                    {
                                        <a asp-action="DeleteComment" asp-route-id="@comment.Id">Delete</a>
                                    }
                                | dodano @comment.PostedDate</p>
                            </div>
                        }
                    }
                </div>
                </div>
            </div>
        </div>
    }
}